# 概览

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split,KFold,StratifiedKFold

# 模型的包
from sklearn.linear_model import Perceptron,SGDClassifier,LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier

from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.naive_bayes import BernoulliNB

from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier


import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows',None)

In [64]:
train=pd.read_csv("./data/train.csv")#(891,12)
test=pd.read_csv("./data/test.csv")#(418,11)
train['is_train']=1
test['is_train']=0
data=pd.concat([train,test],ignore_index=True)

# 属性分析

## 性别
### 只区分男女(仅分析)

In [10]:
sex_data=test[['PassengerId','Sex']]
sex_data['Survived']=sex_data['Sex'].apply(lambda x:1 if x=='female' else 0)

In [13]:
# 0.76555，只使用性别一个特征，这么简单粗暴，都能有这么高的准确率
sex_data[['PassengerId','Survived']].to_csv('result_20220611_sexModel.txt',index=False,header=True)

In [28]:
train[(train['Sex']=='female')&(train['Survived']==0)].head(10)# 死亡的female几乎都是低Pclass

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_train
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,1
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,1
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,1
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,1
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,1
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.9000,NaN,S,1
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S,1
111,112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,1

In [26]:
train.query("Sex=='male'&Survived==1")# 男性的存活好像更难预测一点

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_train
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S,1
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,1
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,1
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C,1
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S,1
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,1
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S,1
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C,1
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S,1
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C,1
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S,1
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S,1
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S,1
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,1
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S,1
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,1
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S,1
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C,1
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C,1
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S,1
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S,1
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S,1
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S,1
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,1
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S,1
271,272,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S,1
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S,1
286,287,1,3,"de Mulder, Mr. Theodore",male,30.00,0,0,345774,9.5000,NaN,S,1
288,289,1,2,"Hosono, Mr. Masabumi",male,42.00,0,0,237798,13.0000,NaN,S,1
298,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S,1
301,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q,1
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,1
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.00,0,0,7598,8.0500,NaN,S,1
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,1
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,1
370,371,1,1,"Harder, Mr. George Achilles",male,25.00,1,0,11765,55.4417,E50,C,1
390,391,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S,1
391,392,1,3,"Jansson, Mr. Carl Olof",male,21.00,0,0,350034,7.7958,NaN,S,1
400,401,1,3,"Niskanen, Mr. Juha",male,39.00,0,0,STON/O 2. 3101289,7.9250,NaN,S,1
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S,1
414,415,1,3,"Sundman, Mr. Johan Julian",male,44.00,0,0,STON/O 2. 3101269,7.9250,NaN,S,1
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S,1
430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S,1
444,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S,1
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,1
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.00,0,0,113794,26.5500,NaN,S,1
449,450,1,1,"Peuchen, Major. Arthur Godfrey",male,52.00,0,0,113786,30.5000,C104,S,1
453,454,1,1,"Goldenberg, Mr. Samuel L",male,49.00,1,0,17453,89.1042,C92,C,1
455,456,1,3,"Jalsevac, Mr. Ivan",male,29.00,0,0,349240,7.8958,NaN,C,1
460,461,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S,1
484,485,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C,1
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S,1
507,508,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S,1
509,510,1,3,"Lang, Mr. Fang",male,26.00,0,0,1601,56.4958,NaN,S,1
510,511,1,3,"Daly, Mr. Eugene Patrick",male,29.00,0,0,382651,7.7500,NaN,Q,1
512,513,1,1,"McGough, Mr. James Robert",male,36.00,0,0,PC 17473,26.2875,E25,S,1
543,544,1,2,"Beane, Mr. Edward",male,32.00,1,0,2908,26.0000,NaN,S,1
547,548,1,2,"Padro y Manent, Mr. Julian",male,NaN,0,0,SC/PARIS 2146,13.8625,NaN,C,1
549,550,1,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,C.A. 33112,36.7500,NaN,S,1
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C,1
553,554,1,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.00,0,0,2620,7.2250,NaN,C,1
569,570,1,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S,1
570,571,1,2,"Harris, Mr. George",male,62.00,0,0,S.W./PP 752,10.5000,NaN,S,1
572,573,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.00,0,0,PC 17474,26.3875,E25,S,1
579,580,1,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S,1
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.00,1,1,13567,79.2000,B41,C,1
599,600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.00,1,0,PC 17485,56.9292,A20,C,1
604,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.00,0,0,111426,26.5500,NaN,C,1
607,608,1,1,"Daniel, Mr. Robert Williams",male,27.00,0,0,113804,30.5000,NaN,S,1
621,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,D19,S,1
622,623,1,3,"Nakid, Mr. Sahid",male,20.00,1,1,2653,15.7417,NaN,C,1
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S,1
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.00,0,0,13214,30.5000,B50,C,1
643,644,1,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S,1
645,646,1,1,"Harper, Mr. Henry Sleeper",male,48.00,1,0,PC 17572,76.7292,D33,C,1
647,648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.00,0,0,13213,35.5000,A26,C,1
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.00,2,0,PC 17611,133.6500,NaN,S,1
664,665,1,3,"Lindqvist, Mr. Eino William",male,20.00,1,0,STON/O 2. 3101285,7.9250,NaN,S,1
673,674,1,2,"Wilhelms, Mr. Charles",male,31.00,0,0,244270,13.0000,NaN,S,1
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C,1
681,682,1,1,"Hassab, Mr. Hammad",male,27.00,0,0,PC 17572,76.7292,D49,C,1
690,691,1,1,"Dick, Mr. Albert Adrian",male,31.00,1,0,17474,57.0000,B20,S,1
692,693,1,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S,1
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.00,0,0,PC 17475,26.2875,E24,S,1
707,708,1,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,E24,S,1
709,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C,1
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S,1
724,725,1,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S,1
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.00,0,0,PC 17755,512.3292,B101,C,1
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S,1
744,745,1,3,"Stranden, Mr. Juho",male,31.00,0,0,STON/O 2. 3101288,7.9250,NaN,S,1
751,752,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S,1
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,1
762,763,1,3,"Barah, Mr. Hanna Assi",male,20.00,0,0,2663,7.2292,NaN,C,1
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,1
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S,1
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1
804,805,1,3,"Hedman, Mr. Oskar Arvid",male,27.00,0,0,347089,6.9750,NaN,S,1
821,822,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S,1
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,1
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q,1
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,1
838,839,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S,1
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C,1
857,858,1,1,"Daly, Mr. Peter Denis",male,51.00,0,0,113055,26.5500,E17,S,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C,1

In [27]:
train.query("Sex=='male'&Age<=18")# 15岁以下的男孩确实都叫master

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_train
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,1
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,1
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S,1
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S,1
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,1
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,1
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S,1
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C,1
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S,1
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S,1
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S,1
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,1
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S,1
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,1
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S,1
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S,1
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,1
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,1
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S,1
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S,1
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S,1
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,1
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S,1
278,279,0,3,"Rice, Master. Eric",male,7.00,4,1,382652,29.1250,NaN,Q,1
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S,1
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,1
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.00,2,0,345764,18.0000,NaN,S,1
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,1
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,1
352,353,0,3,"Elias, Mr. Tannous",male,15.00,1,1,2695,7.2292,NaN,C,1
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,NaN,S,1
385,386,0,2,"Davies, Mr. Charles Henry",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S,1
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,1
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S,1
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.00,1,1,370129,20.2125,NaN,S,1
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S,1
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,1
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.00,5,2,CA 2144,46.9000,NaN,S,1
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S,1
500,501,0,3,"Calic, Mr. Petar",male,17.00,0,0,315086,8.6625,NaN,S,1
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.00,1,0,PC 17758,108.9000,C65,C,1
532,533,0,3,"Elias, Mr. Joseph Jr",male,17.00,1,1,2690,7.2292,NaN,C,1
549,550,1,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,C.A. 33112,36.7500,NaN,S,1
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C,1
574,575,0,3,"Rush, Mr. Alfred George John",male,16.00,0,0,A/4. 20589,8.0500,NaN,S,1
675,676,0,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18.00,0,0,349912,7.7750,NaN,S,1
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.00,5,2,CA 2144,46.9000,NaN,S,1
686,687,0,3,"Panula, Mr. Jaako Arnold",male,14.00,4,1,3101295,39.6875,NaN,S,1
688,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.00,0,0,350036,7.7958,NaN,S,1
721,722,0,3,"Jensen, Mr. Svend Lauritz",male,17.00,1,0,350048,7.0542,NaN,S,1
731,732,0,3,"Hassan, Mr. Houssein G N",male,11.00,0,0,2699,18.7875,NaN,C,1
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.00,1,1,C.A. 2673,20.2500,NaN,S,1
751,752,1,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S,1
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,1
757,758,0,2,"Bailey, Mr. Percy Andrew",male,18.00,0,0,29108,11.5000,NaN,S,1
764,765,0,3,"Eklund, Mr. Hans Linus",male,16.00,0,0,347074,7.7750,NaN,S,1
775,776,0,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.00,0,0,347078,7.7500,NaN,S,1
787,788,0,3,"Rice, Master. George Hugh",male,8.00,4,1,382652,29.1250,NaN,Q,1
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,1
791,792,0,2,"Gaskell, Mr. Alfred",male,16.00,0,0,239865,26.0000,NaN,S,1
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S,1
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,3,2,347088,27.9000,NaN,S,1
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,1
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,1
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,1
834,835,0,3,"Allum, Mr. Owen George",male,18.00,0,0,2223,8.3000,NaN,S,1
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.00,0,0,S.O./P.P. 3,10.5000,NaN,S,1
844,845,0,3,"Culumovic, Mr. Jeso",male,17.00,0,0,315090,8.6625,NaN,S,1
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,1

### 区分男孩

In [65]:
data['Title']=data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
data.loc[data['Title']=='Master','Sex']='boy'

## 家族
### 不考虑保姆

In [66]:
data['Surname']=data['Name'].apply(lambda x:x.split(',')[0])

data["Ticket_id"]=(data['Pclass'].astype(str) + "-" + data['Ticket'].str[:-1].astype(str) + "-" + data['Fare'].astype(str) + "-" + data['Embarked'].astype(str) )
data["Group_id"] = data['Surname'] + "-" + data["Ticket_id"]

# 后续处理
data.loc[data['Sex'] == "male", "Group_id"] = "noGroup"
data["WC_count"] = (data.loc[data['Sex'] != "male"].groupby("Group_id")["Group_id"].transform("count"))
data.loc[data['WC_count'] <= 1, "Group_id"] = "noGroup"

data["WCSurvived"] = data.loc[data['Group_id'] != "noGroup"].groupby("Group_id").Survived.transform("mean")

In [75]:
data.loc[data['Sex'] != "male"].groupby("Group_id")["Group_id"]

In [72]:
data.loc[data['Sex'] != "male"].groupby("Group_id")["Group_id"].transform("count")

1       306
2       306
3       306
7         5
8         3
9       306
10        3
11      306
14      306
15      306
16        6
18        2
19      306
22      306
24        5
25        6
28      306
31      306
32      306
38        2
39        2
40      306
41      306
43        3
44      306
47      306
49      306
50        4
52      306
53      306
56      306
58        3
59        6
61      306
63        5
65        3
66      306
68      306
71        6
78        2
79      306
82      306
84      306
85      306
88        4
98        2
100     306
106     306
109     306
111       2
113       2
114     306
119       6
123     306
125       2
128       3
132     306
133     306
136     306
140       3
141     306
142     306
147       3
151     306
156     306
159       7
161       2
164       4
165       2
166     306
167       5
171       6
172       3
176       5
177     306
180       7
182       6
183       4
184       2
186     306
190     306
192     306
193       2
194     306
195     306
198     306
199     306
205       2
208     306
211     306
215       2
216     306
218     306
229       5
230     306
233       6
235     306
237       2
240       2
241       2
246     306
247       2
251       2
254       2
255       3
256     306
257     306
258     306
259     306
261       6
264     306
268     306
269     306
272       2
274     306
275     306
276     306
278       6
279       2
289     306
290     306
291     306
293     306
297       3
299     306
300     306
303     306
305       3
306     306
307     306
309     306
310     306
311       4
312     306
315     306
316     306
318       2
319       2
322     306
323       2
325     306
327     306
328       2
329       2
330       2
334     306
337     306
340       2
341       4
345     306
346     306
347     306
348       3
356     306
357     306
358     306
359     306
362       2
366     306
367     306
368     306
369     306
374       5
375     306
376     306
380     306
381       2
383     306
386       6
387     306
389     306
393       2
394       3
396     306
399     306
402       2
404     306
407       3
409       5
412       2
415     306
416       2
417     306
419       2
423       2
426     306
427     306
431     306
432     306
435       3
436       3
437       3
440       2
443     306
445       2
446       2
448       4
457     306
458     306
469       4
472       3
473     306
474     306
479       2
480       6
483     306
485       5
486     306
489       3
496     306
498       3
501     306
502     306
503     306
504     306
506       3
513     306
516     306
518     306
520     306
523       2
526     306
530       3
533       3
534       2
535       2
537     306
539     306
540     306
541       6
542       6
546     306
549       2
554     306
556     306
558       2
559     306
564     306
567       5
571     306
573     306
576     306
577     306
578     306
580       2
581     306
585       2
591     306
593     306
596     306
600     306
608       3
609     306
610       6
612       2
615       3
617     306
618       4
627     306
634       5
635     306
638       4
641     306
642       5
644       4
649     306
651       2
653     306
654     306
657     306
669     306
670       2
677     306
678       6
680     306
689     306
691     306
697     306
700     306
702       2
706     306
708     306
709       3
710     306
716     306
717     306
720     306
726     306
727     306
729       2
730     306
736       3
742       4
747     306
750       3
751       2
754       3
755       2
759     306
763       3
765     306
767     306
772     306
774       2
777     306
779     306
780     306
781     306
786     306
787       6
788       3
792       7
796     306
797     306
799       2
801       2
802       3
803       2
807     306
809     306
813       6
816     306
819       5
820     306
823       2
824       4
827       2
829     306
830     306
831       3
835       2
842     306
849     306
850       6
852       3
853       2
854     306
855       2
856       2
858       4
862     306
863       7
865     306
866       2
869       3
871     306
874     306
875     306
879     306
880     306
882     306
885       6
887     306
888       3
892     306
895       2
897     306
899     306
903     306
905     306
906     306
909       2
910     306
912     306
913     306
915       4
917     306
923       3
924       3
927     306
928       2
934     306
935     306
939     306
940       3
943       2
944       4
946       6
950     306
954     306
955       4
956     306
957     306
960       4
961     306
963     306
965     306
968     306
970     306
971       3
977     306
978     306
979     306
980       3
981     306
983     306
987     306
989     306
991     306
995       2
1002    306
1003    306
1004    306
1005    306
1008      3
1010    306
1011      2
1013    306
1016    306
1018      2
1023      5
1029    306
1031      6
1032    306
1041    306
1044      2
1045      6
1047    306
1048    306
1050      3
1051    306
1052      3
1053    306
1056      2
1059    306
1060    306
1066      2
1067    306
1069      4
1070      2
1073    306
1075    306
1077    306
1079      7
1083      2
1085      2
1087      2
1088    306
1090    306
1091    306
1092      2
1094      3
1097    306
1099    306
1104    306
1105    306
1107    306
1109    306
1111      2
1113    306
1115    306
1116      3
1118    306
1122    306
1129    306
1130    306
1131    306
1132      2
1135      3
1137    306
1139    306
1140    306
1141      3
1149    306
1153      3
1154      2
1159    306
1163    306
1164    306
1166    306
1171      1
1172      3
1173    306
1174      3
1175      2
1182    306
1187      3
1195    306
1196    306
1198      2
1200    306
1204    306
1205    306
1206    306
1215    306
1217      4
1221      2
1224      2
1230    306
1234    306
1235      2
1236    306
1238    306
1240    306
1241    306
1245      3
1247    306
1250    306
1251      7
1252      2
1253    306
1255    306
1256      7
1258      1
1259      2
1262    306
1265      2
1266    306
1267    306
1270      6
1273    306
1274    306
1276      3
1280      5
1282      2
1283      2
1286    306
1288    306
1291    306
1293      2
1299    306
1300      3
1301    306
1302      2
1303    306
1305    306
1308      3
Name: Group_id, dtype: int64

In [67]:
# female组内生存率为0时判断死亡
# boy组内生存率<=0.5时判断死亡
data.loc[(data['is_train']==0)&(data['Group_id']!="noGroup")&(data['Sex']=='female')&(data['WCSurvived']==0.00),'Survived']=0
data.loc[(data['is_train']==0)&(data['Group_id']!="noGroup")&(data['Sex']=='female')&(data['WCSurvived']!=0.00)&(data['WCSurvived'].notnull()),'Survived']=1
data.loc[(data['is_train']==0)&(data['Group_id']!="noGroup")&(data['Sex']=='boy')&((data['Pclass']!=3)|(data['WCSurvived']>0.5)),'Survived']=1
data.loc[(data['is_train']==0)&(data['Group_id']!="noGroup")&(data['Sex']=='boy')&(data['Pclass']==3)&(data['WCSurvived']<=0.5),'Survived']=0

In [68]:
# 如果家族人员全部在测试集里呢
groups_test = set(data[data['is_train']==0]['Group_id'].unique()) - set(data[data['is_train']==1]['Group_id'].unique())
# data.loc[data['Group_id'].isin(groups_test)].sort_values(by="Surname")
data.loc[data['Group_id'].isin(groups_test),'Survived']=1
data.loc[data['Group_id']=='van Billiard-3-A/5. 85-14.5-S','Survived']=0

In [69]:
data.loc[(data['Group_id']=='noGroup')&(data['Sex'].isin(['male','boy'])),'Survived']=0
data.loc[(data['Group_id']=='noGroup')&(data['Sex']=='female'),'Survived']=1

In [240]:
data.loc[(data['is_train']==0)&(data['Group_id']=='noGroup'),'PassengerId']

891      892
892      893
893      894
894      895
896      897
897      898
898      899
899      900
900      901
901      902
902      903
903      904
904      905
905      906
906      907
907      908
908      909
910      911
911      912
912      913
913      914
914      915
916      917
917      918
918      919
919      920
920      921
921      922
922      923
925      926
926      927
927      928
929      930
930      931
931      932
932      933
933      934
934      935
935      936
936      937
937      938
938      939
939      940
941      942
942      943
945      946
947      948
948      949
949      950
950      951
951      952
952      953
953      954
954      955
956      957
957      958
958      959
959      960
961      962
962      963
963      964
964      965
965      966
966      967
967      968
968      969
969      970
970      971
972      973
973      974
974      975
975      976
976      977
977      978
978      979
979      980
981      982
982      983
983      984
984      985
985      986
986      987
987      988
988      989
989      990
990      991
991      992
992      993
993      994
994      995
996      997
997      998
998      999
999     1000
1000    1001
1001    1002
1002    1003
1003    1004
1004    1005
1005    1006
1006    1007
1007    1008
1009    1010
1010    1011
1012    1013
1013    1014
1014    1015
1015    1016
1016    1017
1017    1018
1019    1020
1020    1021
1021    1022
1022    1023
1024    1025
1025    1026
1026    1027
1027    1028
1028    1029
1029    1030
1030    1031
1032    1033
1033    1034
1034    1035
1035    1036
1036    1037
1037    1038
1038    1039
1039    1040
1040    1041
1041    1042
1042    1043
1043    1044
1046    1047
1047    1048
1048    1049
1049    1050
1051    1052
1053    1054
1054    1055
1055    1056
1057    1058
1058    1059
1059    1060
1060    1061
1061    1062
1062    1063
1063    1064
1064    1065
1065    1066
1067    1068
1068    1069
1071    1072
1072    1073
1073    1074
1074    1075
1075    1076
1076    1077
1077    1078
1078    1079
1080    1081
1081    1082
1082    1083
1084    1085
1086    1087
1088    1089
1089    1090
1090    1091
1091    1092
1093    1094
1095    1096
1096    1097
1097    1098
1098    1099
1099    1100
1100    1101
1101    1102
1102    1103
1103    1104
1104    1105
1105    1106
1106    1107
1107    1108
1108    1109
1109    1110
1110    1111
1112    1113
1113    1114
1114    1115
1115    1116
1117    1118
1118    1119
1119    1120
1120    1121
1121    1122
1122    1123
1123    1124
1124    1125
1125    1126
1126    1127
1127    1128
1128    1129
1129    1130
1130    1131
1131    1132
1133    1134
1134    1135
1136    1137
1137    1138
1138    1139
1139    1140
1140    1141
1142    1143
1143    1144
1144    1145
1145    1146
1146    1147
1147    1148
1148    1149
1149    1150
1150    1151
1151    1152
1152    1153
1155    1156
1156    1157
1157    1158
1158    1159
1159    1160
1160    1161
1161    1162
1162    1163
1163    1164
1164    1165
1165    1166
1166    1167
1167    1168
1168    1169
1169    1170
1170    1171
1173    1174
1176    1177
1177    1178
1178    1179
1179    1180
1180    1181
1181    1182
1182    1183
1183    1184
1184    1185
1185    1186
1186    1187
1188    1189
1189    1190
1190    1191
1191    1192
1192    1193
1193    1194
1194    1195
1195    1196
1196    1197
1197    1198
1199    1200
1200    1201
1201    1202
1202    1203
1203    1204
1204    1205
1205    1206
1206    1207
1207    1208
1208    1209
1209    1210
1210    1211
1211    1212
1212    1213
1213    1214
1214    1215
1215    1216
1216    1217
1218    1219
1219    1220
1220    1221
1222    1223
1223    1224
1225    1226
1226    1227
1227    1228
1228    1229
1229    1230
1230    1231
1231    1232
1232    1233
1233    1234
1234    1235
1236    1237
1237    1238
1238    1239
1239    1240
1240    1241
1241    1242
1242    1243
1243    1244
1244    1245
1246    1247
1247    1248
1248    1249
1249    1250
1250    1251
1253    1254
1254    1255
1255    1256
1257    1258
1260    1261
1261    1262
1262    1263
1263    1264
1264    1265
1266    1267
1267    1268
1268    1269
1269    1270
1271    1272
1272    1273
1273    1274
1274    1275
1275    1276
1277    1278
1278    1279
1279    1280
1281    1282
1284    1285
1285    1286
1286    1287
1287    1288
1288    1289
1289    1290
1290    1291
1291    1292
1292    1293
1294    1295
1295    1296
1296    1297
1297    1298
1298    1299
1299    1300
1301    1302
1303    1304
1304    1305
1305    1306
1306    1307
1307    1308
Name: PassengerId, dtype: int64

In [70]:
# 把两个保姆设置为死亡
data.loc[data['PassengerId'].isin([1172,1259]),'Survived']=0
# 更改保姆的group_id
data.loc[data['PassengerId'].isin([1172,1259]),"Group_id"] = data.loc[data['PassengerId'].isin([1172,1259]),'Surname'] + "-" + data.loc[data['PassengerId'].isin([1172,1259]),"Ticket_id"]

data.loc[data['PassengerId'].isin([1172,1259])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_train,Title,Surname,Ticket_id,Group_id,WC_count,WCSurvived
1171,1172,0.0,3,"Oreskovic, Miss. Jelka",female,23.0,0,0,315085,8.6625,NaN,S,0,Miss,Oreskovic,3-31508-8.6625-S,Oreskovic-3-31508-8.6625-S,1.0,NaN
1258,1259,0.0,3,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",female,22.0,0,0,3101295,39.6875,NaN,S,0,Miss,Riihivouri,3-310129-39.6875-S,Riihivouri-3-310129-39.6875-S,1.0,NaN

In [306]:
# 别运行
data['Survived']=data['Survived'].astype('int64')
data.loc[data['is_train']==0,["PassengerId","Survived"]].to_csv('result_20220616_WCGModel_3.txt',index=False,header=True)

### 考虑保姆(仅分析)

In [424]:
single_women_ticketId=set(data[(data['Sex']=='female')&(data['Group_id']=='noGroup')&(data['SibSp']+data['Parch']==0)]['Ticket_id'])
group_ticketId=set(data[data['Group_id']!='noGroup']['Ticket_id'])
babysitter_ticketId=group_ticketId.intersection(single_women_ticketId)

In [425]:
data[(data['Sex']=='female')&(data['Group_id']=='noGroup')&(data['Ticket_id'].isin(babysitter_ticketId))].sort_values(by='Ticket_id')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_train,Title,Surname,Ticket_id,Group_id,WC_count,WCSurvived
708,709,1,1,"Cleaver, Miss. Alice",female,22.0,0,0,113781,151.5500,NaN,S,1,Miss,Cleaver,1-11378-151.55-S,noGroup,1.0,NaN
1032,1033,1,1,"Daniels, Miss. Sarah",female,33.0,0,0,113781,151.5500,NaN,S,0,Miss,Daniels,1-11378-151.55-S,noGroup,1.0,NaN
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.0,0,0,16966,134.5000,E40,C,1,Miss,Burns,1-1696-134.5-C,noGroup,1.0,NaN
1262,1263,1,1,"Wilson, Miss. Helen Alice",female,31.0,0,0,16966,134.5000,E39 E41,C,0,Miss,Wilson,1-1696-134.5-C,noGroup,1.0,NaN
1291,1292,1,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,0,Miss,Bonnell,1-3692-164.8667-S,noGroup,1.0,NaN
950,951,1,1,"Chaudanson, Miss. Victorine",female,36.0,0,0,PC 17608,262.3750,B61,C,0,Miss,Chaudanson,1-PC 1760-262.375-C,noGroup,1.0,NaN
1266,1267,1,1,"Bowen, Miss. Grace Scott",female,45.0,0,0,PC 17608,262.3750,NaN,C,0,Miss,Bowen,1-PC 1760-262.375-C,noGroup,1.0,NaN
1067,1068,1,2,"Sincock, Miss. Maude",female,20.0,0,0,C.A. 33112,36.7500,NaN,S,0,Miss,Sincock,2-C.A. 3311-36.75-S,noGroup,1.0,NaN
1258,1259,1,3,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",female,22.0,0,0,3101295,39.6875,NaN,S,0,Miss,Riihivouri,3-310129-39.6875-S,noGroup,1.0,NaN
1171,1172,1,3,"Oreskovic, Miss. Jelka",female,23.0,0,0,315085,8.6625,NaN,S,0,Miss,Oreskovic,3-31508-8.6625-S,noGroup,1.0,NaN

In [410]:
data[(data['Sex']!='male')&(data['Ticket_id'].isin(babysitter_ticketId))].sort_values(by=['Ticket_id','Surname','is_train'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_train,Title,Surname,Ticket_id,Group_id,WC_count,WCSurvived
297,298,0.0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,1,Miss,Allison,1-113-151.55-S,Allison-1-113-151.55-S,3.0,0.333333
305,306,1.0,1,"Allison, Master. Hudson Trevor",boy,0.92,1,2,113781,151.5500,C22 C26,S,1,Master,Allison,1-113-151.55-S,Allison-1-113-151.55-S,3.0,0.333333
498,499,0.0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,1,Mrs,Allison,1-113-151.55-S,Allison-1-113-151.55-S,3.0,0.333333
708,709,1.0,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S,1,Miss,Cleaver,1-113-151.55-S,noGroup,1.0,NaN
1032,1033,1.0,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S,0,Miss,Daniels,1-113-151.55-S,noGroup,1.0,NaN
337,338,1.0,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C,1,Miss,Burns,1-16-134.5-C,noGroup,1.0,NaN
1087,1088,1.0,1,"Spedden, Master. Robert Douglas",boy,6.00,0,2,16966,134.5000,E34,C,0,Master,Spedden,1-16-134.5-C,Spedden-1-16-134.5-C,2.0,1.000000
319,320,1.0,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.00,1,1,16966,134.5000,E34,C,1,Mrs,Spedden,1-16-134.5-C,Spedden-1-16-134.5-C,2.0,1.000000
1262,1263,1.0,1,"Wilson, Miss. Helen Alice",female,31.00,0,0,16966,134.5000,E39 E41,C,0,Miss,Wilson,1-16-134.5-C,noGroup,1.0,NaN
1291,1292,1.0,1,"Bonnell, Miss. Caroline",female,30.00,0,0,36928,164.8667,C7,S,0,Miss,Bonnell,1-36-164.8667-S,noGroup,1.0,NaN
318,319,1.0,1,"Wick, Miss. Mary Natalie",female,31.00,0,2,36928,164.8667,C7,S,1,Miss,Wick,1-36-164.8667-S,Wick-1-36-164.8667-S,2.0,1.000000
856,857,1.0,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S,1,Mrs,Wick,1-36-164.8667-S,Wick-1-36-164.8667-S,2.0,1.000000
1266,1267,1.0,1,"Bowen, Miss. Grace Scott",female,45.00,0,0,PC 17608,262.3750,NaN,C,0,Miss,Bowen,1-PC 17-262.375-C,noGroup,1.0,NaN
950,951,1.0,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C,0,Miss,Chaudanson,1-PC 17-262.375-C,noGroup,1.0,NaN
915,916,1.0,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,0,Mrs,Ryerson,1-PC 17-262.375-C,Ryerson-1-PC 17-262.375-C,4.0,1.000000
955,956,1.0,1,"Ryerson, Master. John Borie",boy,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,0,Master,Ryerson,1-PC 17-262.375-C,Ryerson-1-PC 17-262.375-C,4.0,1.000000
311,312,1.0,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,1,Miss,Ryerson,1-PC 17-262.375-C,Ryerson-1-PC 17-262.375-C,4.0,1.000000
742,743,1.0,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,1,Miss,Ryerson,1-PC 17-262.375-C,Ryerson-1-PC 17-262.375-C,4.0,1.000000
1221,1222,1.0,2,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",female,48.00,0,2,C.A. 33112,36.7500,NaN,S,0,Mrs,Davies,2-C.A. 33-36.75-S,Davies-2-C.A. 33-36.75-S,2.0,1.000000
549,550,1.0,2,"Davies, Master. John Morgan Jr",boy,8.00,1,1,C.A. 33112,36.7500,NaN,S,1,Master,Davies,2-C.A. 33-36.75-S,Davies-2-C.A. 33-36.75-S,2.0,1.000000
1067,1068,1.0,2,"Sincock, Miss. Maude",female,20.00,0,0,C.A. 33112,36.7500,NaN,S,0,Miss,Sincock,2-C.A. 33-36.75-S,noGroup,1.0,NaN
50,51,0.0,3,"Panula, Master. Juha Niilo",boy,7.00,4,1,3101295,39.6875,NaN,S,1,Master,Panula,3-3101-39.6875-S,Panula-3-3101-39.6875-S,4.0,0.000000
164,165,0.0,3,"Panula, Master. Eino Viljami",boy,1.00,4,1,3101295,39.6875,NaN,S,1,Master,Panula,3-3101-39.6875-S,Panula-3-3101-39.6875-S,4.0,0.000000
638,639,0.0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.00,0,5,3101295,39.6875,NaN,S,1,Mrs,Panula,3-3101-39.6875-S,Panula-3-3101-39.6875-S,4.0,0.000000
824,825,0.0,3,"Panula, Master. Urho Abraham",boy,2.00,4,1,3101295,39.6875,NaN,S,1,Master,Panula,3-3101-39.6875-S,Panula-3-3101-39.6875-S,4.0,0.000000
1258,1259,1.0,3,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",female,22.00,0,0,3101295,39.6875,NaN,S,0,Miss,Riihivouri,3-3101-39.6875-S,noGroup,1.0,NaN
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S,1,Miss,Heikkinen,3-STON/O2. 3101-7.925-S,noGroup,1.0,NaN
816,817,1.0,3,"Heininen, Miss. Wendla Maria",female,23.00,0,0,STON/O2. 3101290,7.9250,NaN,S,1,Miss,Heininen,3-STON/O2. 3101-7.925-S,noGroup,1.0,NaN
216,217,1.0,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S,1,Miss,Honkanen,3-STON/O2. 3101-7.925-S,noGroup,1.0,NaN
909,910,0.0,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S,0,Miss,Ilmakangas,3-STON/O2. 3101-7.925-S,Ilmakangas-3-STON/O2. 3101-7.925-S,2.0,0.000000
729,730,0.0,3,"Ilmakangas, Miss. Pieta Sofia",female,25.00,1,0,STON/O2. 3101271,7.9250,NaN,S,1,Miss,Ilmakangas,3-STON/O2. 3101-7.925-S,Ilmakangas-3-STON/O2. 3101-7.925-S,2.0,0.000000

# 非WCG正常流程

## 数据预处理

In [25]:
def getAgeRange(x):
    if 0<=x<16:return 1
    elif 16<=x<40:return 2
    else: return 3
data['Age_range']=data['Age'].apply(getAgeRange)

data['SexPclass']=data['Sex'].str.cat(data['Pclass'].map(lambda x:str(x)))

In [26]:
data['Fare']=data['Fare'].fillna(data['Fare'].median())# 有一个空值，中位数填充

data['Embarked']=data['Embarked'].fillna("S")# 就2个缺失值，填充了众数

# Cabin只有204个非空值
data['Cabins']=data['Cabin'].apply(lambda x:2 if len(str(x))>4 else(1 if pd.notna(x) else 0) )
data['Cabin']=data['Cabin'].str[:1]
data['Cabin']=data['Cabin'].fillna("Z")

# ticket比较复杂，先算了
# train['Ticket'].apply(lambda x:x.split(" ")[0]).value_counts()

data['Title']=data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
data['Title'] = data['Title'].replace(['Lady', 'Countess','Capt','Don','Col','Dr','Rev', 'Major', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
data['Title'] = data['Title'].replace('Mlle', 'Miss')
data['Title'] = data['Title'].replace('Ms', 'Miss')
data['Title'] = data['Title'].replace('Mme', 'Mrs')

data['familyNum']=data['SibSp']+data['Parch']
data['has_family']=data['familyNum'].apply(lambda x:1 if x>0 else 0)

data=data.drop(['Name','Ticket'],axis=1)

In [30]:
for col in ['Cabin','Embarked','Title','Sex','Age_range']:
    df=pd.get_dummies(data[col],sparse=True)
    for c in df.columns:
        df.rename(columns={c:col+str(c)},inplace=True)
    if col!='Sex':
        data=pd.concat([data.drop([col],axis=1),df],axis=1)
    
df=pd.get_dummies(data['SexPclass'],sparse=True)
data=pd.concat([data.drop(['SexPclass'],axis=1),df],axis=1)

# data=data.drop(['CabinA','CabinD','CabinF','CabinG','CabinT','Sexmale'],axis=1)

In [28]:
data=data.drop(['Surname','Ticket_id'],axis=1)

### 预测测试集是否生存，用来填充缺失值

In [31]:
X_train=np.array(data[(data['is_train']==1)&(data['Sex']=='male')].drop(['Survived','is_train','Group_id','PassengerId','boy1','boy2','boy3','female1','female2','female3','Sex'],axis=1))
y_train=np.array(data[(data['is_train']==1)&(data['Sex']=='male')]['Survived'])
X_test=np.array(data[(data['is_train']==0)&(data['Sex']=='male')].drop(['Survived','is_train','Group_id','PassengerId','boy1','boy2','boy3','female1','female2','female3','Sex'],axis=1))

In [34]:
from lightgbm import LGBMClassifier

best_model=None
folds=5
avg_score=0
avg_ccore_train=0
best_score=0
result=np.zeros(245)# 245是测试集男性数量，418是测试集数量

kf=KFold(n_splits=folds,shuffle=True,random_state=2022)
for i, (train_index,test_index) in enumerate(kf.split(X_train)):
    lgb=LGBMClassifier(learning_rate=0.07,max_depth=20,n_estimators=70)
    lgb.fit(X_train[train_index],y_train[train_index])
    
    score_train=lgb.score(X_train[train_index],y_train[train_index])
    score=lgb.score(X_train[test_index],y_train[test_index])
    print('{}th fold train：{:.3f}, test：{:.3f}'.format(i,score_train,score))
    if best_score<score:
        best_score=score
        best_model=lgb    
    avg_score+=score
    avg_ccore_train+=score_train
    result+=lgb.predict(X_test)
avg_score/=folds
avg_ccore_train/=folds
result/=folds

print("avg train score= {:.3f}, avg score={:.3f}".format(avg_ccore_train,avg_score))

0th fold train：1.000, test：1.000
1th fold train：1.000, test：1.000
2th fold train：1.000, test：1.000
3th fold train：1.000, test：1.000
4th fold train：1.000, test：1.000
avg train score= 1.000, avg score=1.000

### age缺失值填充
#### 用lgb预测

In [37]:
data_age=data[(data['Age'].notnull())&(data['Sex']=='male')].drop(['Sex'],axis=1)
data_noAge=data[(data['Age'].isnull())&(data['Sex']=='male')].drop(['Sex'],axis=1)

X_train_age=np.array(data_age.drop(['is_train','Age','Group_id'],axis=1))
y_train_age=np.array(data_age['Age'])
X_test_age=np.array(data_noAge.drop(['is_train','Age','Group_id'],axis=1))

In [38]:
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error

best_model=None
folds=5
avg_score=0
best_score=0

kf=KFold(n_splits=folds,shuffle=True,random_state=2022)
for i, (train_index,test_index) in enumerate(kf.split(X_train_age)):
    lgb=LGBMRegressor(learning_rate=0.5,max_depth=5,n_estimators=7)
    lgb.fit(X_train_age[train_index],y_train_age[train_index])
    
    
    pred=lgb.predict(X_train_age[train_index])
    score0=mean_squared_error(pred,y_train_age[train_index])
    print(i,'th fold 0：',score0)
    
    pred=lgb.predict(X_train_age[test_index])
    score=mean_squared_error(pred,y_train_age[test_index])
    print(i,'th fold：',score)
    if best_score<score:
        best_score=score
        best_model=lgb    
    avg_score+=score
avg_score/=folds

print("avg score= ",avg_score)

0 th fold 0： 31.70581316125064
0 th fold： 65.93150284010459
1 th fold 0： 32.790739317523744
1 th fold： 53.54091396135594
2 th fold 0： 35.67452811228919
2 th fold： 47.75250319877265
3 th fold 0： 34.415291439913304
3 th fold： 49.390923942970545
4 th fold 0： 37.20511378054557
4 th fold： 40.10425655256781
avg score=  51.34402009915431

In [39]:
age_pred=best_model.predict(X_test_age)
data.loc[(data['Age'].isnull())&(data['Sex']=='male'),'Age']=age_pred

## 模型训练

In [45]:
# 仅预测非WCG人
X_train=np.array(data[(data['is_train']==1)&(data['Sex']=='male')].drop(['Survived','is_train','Group_id','PassengerId','WC_count','WCSurvived','Sex'],axis=1))# (891, 42)
y_train=np.array(data[(data['is_train']==1)&(data['Sex']=='male')]['Survived'])# (891,)
X_test=np.array(data[(data['is_train']==0)&(data['Sex']=='male')&(data['Group_id']=='noGroup')].drop(['Survived','is_train','Group_id','PassengerId','WC_count','WCSurvived','Sex'],axis=1))# (351, 42)

In [53]:
# 模型函数
def train_model(model,params,X_train,y_train,X_test):
    folds=5
    train_Acc,valid_Acc=0,0
    train_pred,test_pred=np.zeros(537),np.zeros(245)#418所有人。351非wcg.537非wcg训练 891

    kf=StratifiedKFold(n_splits=folds,shuffle=True,random_state=2022)
    model.set_params(**params)
    for i, (train_index,valid_index) in enumerate(kf.split(X_train,y_train)):
        model.fit(X_train[train_index],y_train[train_index])

        train_score=model.score(X_train[train_index],y_train[train_index])
        valid_score=model.score(X_train[valid_index],y_train[valid_index])
        print('{}th fold train：{:.3f}, valid：{:.3f}'.format(i,train_score,valid_score))

        valid_Acc+=valid_score
        train_Acc+=train_score
        try:
            test_pred+=model.predict_proba(X_test)[:,1]
            train_pred[valid_index]=model.predict_proba(X_train[valid_index])[:,1]
        except:
            test_pred+=model.predict(X_test)
            train_pred[valid_index]=model.predict(X_train[valid_index])

    valid_Acc/=folds
    train_Acc/=folds
    test_pred/=folds
    print("avg train score= {:.3f}, avg valid score={:.3f}".format(train_Acc,valid_Acc))
    
    return train_pred,test_pred,valid_Acc

In [54]:
model=LGBMClassifier()
params={"learning_rate":0.07,"max_depth":12,"n_estimators":80}
train_pred_lgb,test_pred_lgb,valid_acc_lgb=train_model(model,params,X_train,y_train,X_test)

0th fold train：1.000, valid：1.000
1th fold train：1.000, valid：1.000
2th fold train：1.000, valid：1.000
3th fold train：1.000, valid：1.000
4th fold train：1.000, valid：1.000
avg train score= 1.000, avg valid score=1.000

In [327]:
model=XGBClassifier()
params={"learning_rate":0.05,"max_depth":16,"n_estimators":73}
train_pred_xgb,test_pred_xgb,valid_acc_xgb=train_model(model,params,X_train,y_train,X_test)

[22:27:34] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0th fold train：0.994, valid：0.966
[22:27:34] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
1th fold train：0.994, valid：0.961
[22:27:34] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
2th fold train：0.992, valid：0.966
[22:27:34] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
3th fold train：0.992, valid：0.966
[22:27:34] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
4th fold train：0.992, valid：0.983
avg train score= 0.993, avg valid score=0.969

In [328]:
model=CatBoostClassifier()
params={"learning_rate":0.08,"n_estimators":82}
train_pred_cat,test_pred_cat,valid_acc_cat=train_model(model,params,X_train,y_train,X_test)

0:	learn: 0.5432644	total: 165ms	remaining: 13.4s
1:	learn: 0.4244849	total: 166ms	remaining: 6.65s
2:	learn: 0.3403129	total: 167ms	remaining: 4.4s
3:	learn: 0.2735731	total: 168ms	remaining: 3.28s
4:	learn: 0.2403160	total: 169ms	remaining: 2.61s
5:	learn: 0.2086007	total: 170ms	remaining: 2.16s
6:	learn: 0.1800217	total: 172ms	remaining: 1.84s
7:	learn: 0.1635358	total: 173ms	remaining: 1.6s
8:	learn: 0.1440216	total: 174ms	remaining: 1.41s
9:	learn: 0.1344222	total: 175ms	remaining: 1.26s
10:	learn: 0.1250736	total: 176ms	remaining: 1.14s
11:	learn: 0.1151375	total: 189ms	remaining: 1.1s
12:	learn: 0.1070586	total: 190ms	remaining: 1.01s
13:	learn: 0.1012418	total: 191ms	remaining: 929ms
14:	learn: 0.0965195	total: 193ms	remaining: 860ms
15:	learn: 0.0927579	total: 194ms	remaining: 799ms
16:	learn: 0.0883815	total: 195ms	remaining: 745ms
17:	learn: 0.0839436	total: 196ms	remaining: 697ms
18:	learn: 0.0816500	total: 197ms	remaining: 654ms
19:	learn: 0.0793390	total: 198ms	remaining: 615ms
20:	learn: 0.0773612	total: 200ms	remaining: 580ms
21:	learn: 0.0760449	total: 201ms	remaining: 548ms
22:	learn: 0.0743600	total: 202ms	remaining: 519ms
23:	learn: 0.0718806	total: 204ms	remaining: 493ms
24:	learn: 0.0688395	total: 205ms	remaining: 468ms
25:	learn: 0.0680124	total: 206ms	remaining: 445ms
26:	learn: 0.0673890	total: 208ms	remaining: 423ms
27:	learn: 0.0645067	total: 209ms	remaining: 402ms
28:	learn: 0.0629601	total: 210ms	remaining: 383ms
29:	learn: 0.0624719	total: 211ms	remaining: 366ms
30:	learn: 0.0602569	total: 212ms	remaining: 349ms
31:	learn: 0.0596146	total: 213ms	remaining: 333ms
32:	learn: 0.0578278	total: 215ms	remaining: 319ms
33:	learn: 0.0561904	total: 216ms	remaining: 304ms
34:	learn: 0.0556015	total: 217ms	remaining: 291ms
35:	learn: 0.0551825	total: 218ms	remaining: 279ms
36:	learn: 0.0543052	total: 219ms	remaining: 267ms
37:	learn: 0.0531514	total: 220ms	remaining: 255ms
38:	learn: 0.0519056	total: 221ms	remaining: 244ms
39:	learn: 0.0507779	total: 223ms	remaining: 234ms
40:	learn: 0.0493636	total: 224ms	remaining: 224ms
41:	learn: 0.0488741	total: 225ms	remaining: 214ms
42:	learn: 0.0482140	total: 226ms	remaining: 205ms
43:	learn: 0.0477001	total: 227ms	remaining: 196ms
44:	learn: 0.0470919	total: 228ms	remaining: 188ms
45:	learn: 0.0465023	total: 229ms	remaining: 179ms
46:	learn: 0.0460028	total: 230ms	remaining: 172ms
47:	learn: 0.0452605	total: 232ms	remaining: 164ms
48:	learn: 0.0450018	total: 233ms	remaining: 157ms
49:	learn: 0.0443239	total: 234ms	remaining: 150ms
50:	learn: 0.0440451	total: 235ms	remaining: 143ms
51:	learn: 0.0437001	total: 236ms	remaining: 136ms
52:	learn: 0.0432649	total: 247ms	remaining: 135ms
53:	learn: 0.0423198	total: 249ms	remaining: 129ms
54:	learn: 0.0417284	total: 250ms	remaining: 123ms
55:	learn: 0.0407411	total: 251ms	remaining: 117ms
56:	learn: 0.0400485	total: 252ms	remaining: 111ms
57:	learn: 0.0387162	total: 253ms	remaining: 105ms
58:	learn: 0.0375733	total: 255ms	remaining: 99.3ms
59:	learn: 0.0373080	total: 256ms	remaining: 93.8ms
60:	learn: 0.0362944	total: 257ms	remaining: 88.5ms
61:	learn: 0.0359918	total: 258ms	remaining: 83.2ms
62:	learn: 0.0358282	total: 259ms	remaining: 78.2ms
63:	learn: 0.0354727	total: 260ms	remaining: 73.2ms
64:	learn: 0.0352418	total: 262ms	remaining: 68.4ms
65:	learn: 0.0348154	total: 263ms	remaining: 63.7ms
66:	learn: 0.0347830	total: 264ms	remaining: 59.1ms
67:	learn: 0.0342938	total: 265ms	remaining: 54.6ms
68:	learn: 0.0339798	total: 266ms	remaining: 50.2ms
69:	learn: 0.0337880	total: 267ms	remaining: 45.8ms
70:	learn: 0.0335160	total: 268ms	remaining: 41.6ms
71:	learn: 0.0331873	total: 270ms	remaining: 37.4ms
72:	learn: 0.0326932	total: 271ms	remaining: 33.4ms
73:	learn: 0.0325747	total: 272ms	remaining: 29.4ms
74:	learn: 0.0323488	total: 273ms	remaining: 25.5ms
75:	learn: 0.0320345	total: 274ms	remaining: 21.6ms
76:	learn: 0.0316884	total: 275ms	remaining: 17.9ms
77:	learn: 0.0308598	total: 276ms	remaining: 14.2ms
78:	learn: 0.0302735	total: 277ms	remaining: 10.5ms
79:	learn: 0.0298795	total: 278ms	remaining: 6.96ms
80:	learn: 0.0294436	total: 280ms	remaining: 3.45ms
81:	learn: 0.0290728	total: 281ms	remaining: 0us
0th fold train：0.994, valid：0.961
0:	learn: 0.5385146	total: 2.91ms	remaining: 236ms
1:	learn: 0.4188117	total: 4.53ms	remaining: 181ms
2:	learn: 0.3325774	total: 5.64ms	remaining: 148ms
3:	learn: 0.2712252	total: 6.93ms	remaining: 135ms
4:	learn: 0.2215122	total: 8.23ms	remaining: 127ms
5:	learn: 0.1938734	total: 9.45ms	remaining: 120ms
6:	learn: 0.1668182	total: 10.7ms	remaining: 115ms
7:	learn: 0.1522450	total: 12.1ms	remaining: 112ms
8:	learn: 0.1374367	total: 13.6ms	remaining: 111ms
9:	learn: 0.1262636	total: 17.8ms	remaining: 128ms
10:	learn: 0.1141763	total: 33.2ms	remaining: 215ms
11:	learn: 0.1041366	total: 34.5ms	remaining: 202ms
12:	learn: 0.0964155	total: 35.7ms	remaining: 190ms
13:	learn: 0.0913711	total: 36.9ms	remaining: 179ms
14:	learn: 0.0867918	total: 38.2ms	remaining: 171ms
15:	learn: 0.0830608	total: 48.2ms	remaining: 199ms
16:	learn: 0.0793168	total: 49.8ms	remaining: 190ms
17:	learn: 0.0758216	total: 51ms	remaining: 181ms
18:	learn: 0.0742653	total: 52.3ms	remaining: 173ms
19:	learn: 0.0718777	total: 53.5ms	remaining: 166ms
20:	learn: 0.0696608	total: 54.7ms	remaining: 159ms
21:	learn: 0.0680030	total: 56.1ms	remaining: 153ms
22:	learn: 0.0663127	total: 57.4ms	remaining: 147ms
23:	learn: 0.0639265	total: 62.3ms	remaining: 150ms
24:	learn: 0.0616995	total: 63.5ms	remaining: 145ms
25:	learn: 0.0602570	total: 77.6ms	remaining: 167ms
26:	learn: 0.0596269	total: 78.9ms	remaining: 161ms
27:	learn: 0.0585212	total: 80.1ms	remaining: 155ms
28:	learn: 0.0575817	total: 81.6ms	remaining: 149ms
29:	learn: 0.0569052	total: 82.9ms	remaining: 144ms
30:	learn: 0.0563061	total: 83.9ms	remaining: 138ms
31:	learn: 0.0548268	total: 85.1ms	remaining: 133ms
32:	learn: 0.0532231	total: 86.4ms	remaining: 128ms
33:	learn: 0.0525242	total: 87.8ms	remaining: 124ms
34:	learn: 0.0518128	total: 89ms	remaining: 119ms
35:	learn: 0.0509828	total: 90.2ms	remaining: 115ms
36:	learn: 0.0500899	total: 91.8ms	remaining: 112ms
37:	learn: 0.0493003	total: 108ms	remaining: 125ms
38:	learn: 0.0481938	total: 110ms	remaining: 121ms
39:	learn: 0.0474913	total: 111ms	remaining: 116ms
40:	learn: 0.0462702	total: 112ms	remaining: 112ms
41:	learn: 0.0453214	total: 123ms	remaining: 117ms
42:	learn: 0.0446953	total: 124ms	remaining: 112ms
43:	learn: 0.0443545	total: 125ms	remaining: 108ms
44:	learn: 0.0437454	total: 127ms	remaining: 104ms
45:	learn: 0.0431671	total: 128ms	remaining: 100ms
46:	learn: 0.0428480	total: 129ms	remaining: 96ms
47:	learn: 0.0415743	total: 130ms	remaining: 92.1ms
48:	learn: 0.0407432	total: 131ms	remaining: 88.3ms
49:	learn: 0.0399216	total: 132ms	remaining: 84.6ms
50:	learn: 0.0393832	total: 133ms	remaining: 81.1ms
51:	learn: 0.0390130	total: 135ms	remaining: 77.6ms
52:	learn: 0.0382682	total: 136ms	remaining: 74.2ms
53:	learn: 0.0377292	total: 137ms	remaining: 71.1ms
54:	learn: 0.0373603	total: 138ms	remaining: 67.9ms
55:	learn: 0.0367696	total: 139ms	remaining: 64.7ms
56:	learn: 0.0361964	total: 141ms	remaining: 61.6ms
57:	learn: 0.0355664	total: 142ms	remaining: 58.7ms
58:	learn: 0.0351223	total: 143ms	remaining: 55.7ms
59:	learn: 0.0344430	total: 144ms	remaining: 52.8ms
60:	learn: 0.0338337	total: 145ms	remaining: 50ms
61:	learn: 0.0335988	total: 146ms	remaining: 47.2ms
62:	learn: 0.0331094	total: 148ms	remaining: 44.5ms
63:	learn: 0.0327059	total: 149ms	remaining: 41.8ms
64:	learn: 0.0325591	total: 150ms	remaining: 39.1ms
65:	learn: 0.0319517	total: 151ms	remaining: 36.6ms
66:	learn: 0.0315278	total: 152ms	remaining: 34.1ms
67:	learn: 0.0309598	total: 153ms	remaining: 31.6ms
68:	learn: 0.0305184	total: 167ms	remaining: 31.4ms
69:	learn: 0.0302596	total: 168ms	remaining: 28.8ms
70:	learn: 0.0297788	total: 169ms	remaining: 26.2ms
71:	learn: 0.0296282	total: 170ms	remaining: 23.7ms
72:	learn: 0.0293939	total: 172ms	remaining: 21.1ms
73:	learn: 0.0291048	total: 173ms	remaining: 18.7ms
74:	learn: 0.0284997	total: 174ms	remaining: 16.2ms
75:	learn: 0.0281832	total: 175ms	remaining: 13.8ms
76:	learn: 0.0278241	total: 177ms	remaining: 11.5ms
77:	learn: 0.0274353	total: 178ms	remaining: 9.12ms
78:	learn: 0.0269599	total: 179ms	remaining: 6.8ms
79:	learn: 0.0264594	total: 180ms	remaining: 4.51ms
80:	learn: 0.0261589	total: 182ms	remaining: 2.24ms
81:	learn: 0.0256992	total: 183ms	remaining: 0us
1th fold train：0.999, valid：0.955
0:	learn: 0.5447800	total: 3.78ms	remaining: 306ms
1:	learn: 0.4439615	total: 5.2ms	remaining: 208ms
2:	learn: 0.3501133	total: 6.47ms	remaining: 170ms
3:	learn: 0.2943440	total: 7.68ms	remaining: 150ms
4:	learn: 0.2434566	total: 8.98ms	remaining: 138ms
5:	learn: 0.2068206	total: 10.3ms	remaining: 130ms
6:	learn: 0.1813560	total: 11.6ms	remaining: 124ms
7:	learn: 0.1601082	total: 12.9ms	remaining: 119ms
8:	learn: 0.1461255	total: 14.1ms	remaining: 115ms
9:	learn: 0.1341063	total: 15.5ms	remaining: 111ms
10:	learn: 0.1233071	total: 16.9ms	remaining: 109ms
11:	learn: 0.1167946	total: 18.3ms	remaining: 107ms
12:	learn: 0.1095725	total: 19.4ms	remaining: 103ms
13:	learn: 0.1035190	total: 20.5ms	remaining: 99.7ms
14:	learn: 0.0996979	total: 21.4ms	remaining: 95.5ms
15:	learn: 0.0950384	total: 22.5ms	remaining: 92.7ms
16:	learn: 0.0904826	total: 23.6ms	remaining: 90.3ms
17:	learn: 0.0856211	total: 24.7ms	remaining: 87.8ms
18:	learn: 0.0826609	total: 25.8ms	remaining: 85.5ms
19:	learn: 0.0809684	total: 26.9ms	remaining: 83.3ms
20:	learn: 0.0792079	total: 28ms	remaining: 81.2ms
21:	learn: 0.0774493	total: 29ms	remaining: 79.2ms
22:	learn: 0.0754380	total: 30.1ms	remaining: 77.2ms
23:	learn: 0.0728864	total: 31.2ms	remaining: 75.4ms
24:	learn: 0.0700862	total: 32.4ms	remaining: 74ms
25:	learn: 0.0681893	total: 33.6ms	remaining: 72.3ms
26:	learn: 0.0667737	total: 34.7ms	remaining: 70.6ms
27:	learn: 0.0658434	total: 35.8ms	remaining: 69ms
28:	learn: 0.0644413	total: 36.9ms	remaining: 67.5ms
29:	learn: 0.0636377	total: 38.1ms	remaining: 66ms
30:	learn: 0.0622642	total: 39.2ms	remaining: 64.5ms
31:	learn: 0.0609568	total: 40.3ms	remaining: 63ms
32:	learn: 0.0593218	total: 41.4ms	remaining: 61.5ms
33:	learn: 0.0586999	total: 42.5ms	remaining: 60ms
34:	learn: 0.0578020	total: 43.7ms	remaining: 58.7ms
35:	learn: 0.0565010	total: 44.8ms	remaining: 57.2ms
36:	learn: 0.0556110	total: 45.9ms	remaining: 55.9ms
37:	learn: 0.0545115	total: 47.2ms	remaining: 54.6ms
38:	learn: 0.0534239	total: 48.4ms	remaining: 53.4ms
39:	learn: 0.0526621	total: 49.6ms	remaining: 52.1ms
40:	learn: 0.0517829	total: 50.8ms	remaining: 50.8ms
41:	learn: 0.0508244	total: 51.9ms	remaining: 49.4ms
42:	learn: 0.0495691	total: 53ms	remaining: 48.1ms
43:	learn: 0.0483025	total: 54.1ms	remaining: 46.7ms
44:	learn: 0.0469233	total: 55.3ms	remaining: 45.5ms
45:	learn: 0.0463603	total: 56.5ms	remaining: 44.2ms
46:	learn: 0.0458927	total: 57.6ms	remaining: 42.9ms
47:	learn: 0.0446578	total: 58.7ms	remaining: 41.6ms
48:	learn: 0.0438034	total: 59.9ms	remaining: 40.3ms
49:	learn: 0.0434478	total: 61.4ms	remaining: 39.3ms
50:	learn: 0.0428390	total: 62.6ms	remaining: 38.1ms
51:	learn: 0.0420152	total: 63.8ms	remaining: 36.8ms
52:	learn: 0.0417761	total: 64.9ms	remaining: 35.5ms
53:	learn: 0.0410422	total: 66ms	remaining: 34.2ms
54:	learn: 0.0406619	total: 67.2ms	remaining: 33ms
55:	learn: 0.0405128	total: 68.3ms	remaining: 31.7ms
56:	learn: 0.0399328	total: 77.2ms	remaining: 33.8ms
57:	learn: 0.0391851	total: 78.4ms	remaining: 32.5ms
58:	learn: 0.0388494	total: 79.6ms	remaining: 31ms
59:	learn: 0.0383538	total: 93.4ms	remaining: 34.2ms
60:	learn: 0.0380862	total: 94.7ms	remaining: 32.6ms
61:	learn: 0.0376307	total: 95.8ms	remaining: 30.9ms
62:	learn: 0.0371565	total: 96.8ms	remaining: 29.2ms
63:	learn: 0.0365269	total: 97.9ms	remaining: 27.5ms
64:	learn: 0.0360236	total: 99ms	remaining: 25.9ms
65:	learn: 0.0357308	total: 100ms	remaining: 24.3ms
66:	learn: 0.0351420	total: 101ms	remaining: 22.7ms
67:	learn: 0.0350762	total: 102ms	remaining: 21ms
68:	learn: 0.0345121	total: 103ms	remaining: 19.4ms
69:	learn: 0.0341359	total: 104ms	remaining: 17.8ms
70:	learn: 0.0338810	total: 105ms	remaining: 16.3ms
71:	learn: 0.0337277	total: 107ms	remaining: 14.8ms
72:	learn: 0.0330093	total: 122ms	remaining: 15ms

73:	learn: 0.0323593	total: 123ms	remaining: 13.3ms
74:	learn: 0.0322530	total: 124ms	remaining: 11.6ms
75:	learn: 0.0319740	total: 126ms	remaining: 9.91ms
76:	learn: 0.0317016	total: 127ms	remaining: 8.23ms
77:	learn: 0.0312492	total: 128ms	remaining: 6.56ms
78:	learn: 0.0306046	total: 129ms	remaining: 4.91ms
79:	learn: 0.0299096	total: 131ms	remaining: 3.27ms
80:	learn: 0.0296454	total: 132ms	remaining: 1.63ms
81:	learn: 0.0293512	total: 134ms	remaining: 0us
2th fold train：0.999, valid：0.972
0:	learn: 0.5401986	total: 7.96ms	remaining: 644ms
1:	learn: 0.4199142	total: 9.23ms	remaining: 369ms
2:	learn: 0.3362923	total: 10.3ms	remaining: 270ms
3:	learn: 0.2694366	total: 11.4ms	remaining: 223ms
4:	learn: 0.2393559	total: 12.6ms	remaining: 193ms
5:	learn: 0.2079715	total: 13.7ms	remaining: 173ms
6:	learn: 0.1798279	total: 14.8ms	remaining: 159ms
7:	learn: 0.1612182	total: 15.9ms	remaining: 147ms
8:	learn: 0.1462141	total: 17.4ms	remaining: 141ms
9:	learn: 0.1311099	total: 18.7ms	remaining: 135ms
10:	learn: 0.1210414	total: 19.8ms	remaining: 128ms
11:	learn: 0.1112624	total: 21ms	remaining: 122ms
12:	learn: 0.1041713	total: 22.4ms	remaining: 119ms
13:	learn: 0.0982691	total: 23.6ms	remaining: 115ms
14:	learn: 0.0937057	total: 24.8ms	remaining: 111ms
15:	learn: 0.0907170	total: 25.9ms	remaining: 107ms
16:	learn: 0.0865823	total: 27.1ms	remaining: 104ms
17:	learn: 0.0827214	total: 37.7ms	remaining: 134ms
18:	learn: 0.0793704	total: 38.9ms	remaining: 129ms
19:	learn: 0.0785456	total: 40.1ms	remaining: 124ms
20:	learn: 0.0773397	total: 41.3ms	remaining: 120ms
21:	learn: 0.0767421	total: 42.4ms	remaining: 116ms
22:	learn: 0.0751229	total: 43.5ms	remaining: 112ms
23:	learn: 0.0728373	total: 44.8ms	remaining: 108ms
24:	learn: 0.0704842	total: 45.9ms	remaining: 105ms
25:	learn: 0.0684862	total: 47ms	remaining: 101ms
26:	learn: 0.0670521	total: 48.4ms	remaining: 98.5ms
27:	learn: 0.0648440	total: 49.5ms	remaining: 95.5ms
28:	learn: 0.0637795	total: 50.7ms	remaining: 92.7ms
29:	learn: 0.0628158	total: 52ms	remaining: 90.1ms
30:	learn: 0.0616285	total: 53.1ms	remaining: 87.4ms
31:	learn: 0.0612714	total: 53.8ms	remaining: 84ms
32:	learn: 0.0593282	total: 98.8ms	remaining: 147ms
33:	learn: 0.0587218	total: 100ms	remaining: 141ms
34:	learn: 0.0584830	total: 101ms	remaining: 136ms
35:	learn: 0.0575940	total: 129ms	remaining: 165ms
36:	learn: 0.0562578	total: 131ms	remaining: 159ms
37:	learn: 0.0557295	total: 132ms	remaining: 153ms
38:	learn: 0.0543164	total: 134ms	remaining: 147ms
39:	learn: 0.0541545	total: 135ms	remaining: 142ms
40:	learn: 0.0533742	total: 144ms	remaining: 144ms
41:	learn: 0.0524871	total: 145ms	remaining: 138ms
42:	learn: 0.0519052	total: 146ms	remaining: 132ms
43:	learn: 0.0517299	total: 147ms	remaining: 127ms
44:	learn: 0.0502553	total: 158ms	remaining: 130ms
45:	learn: 0.0493990	total: 160ms	remaining: 125ms
46:	learn: 0.0487795	total: 161ms	remaining: 120ms
47:	learn: 0.0476636	total: 163ms	remaining: 115ms
48:	learn: 0.0465516	total: 164ms	remaining: 110ms
49:	learn: 0.0460244	total: 165ms	remaining: 106ms
50:	learn: 0.0451746	total: 167ms	remaining: 101ms
51:	learn: 0.0442558	total: 168ms	remaining: 96.7ms
52:	learn: 0.0434759	total: 169ms	remaining: 92.4ms
53:	learn: 0.0429424	total: 170ms	remaining: 88.2ms
54:	learn: 0.0425149	total: 171ms	remaining: 84ms
55:	learn: 0.0417378	total: 173ms	remaining: 80.2ms
56:	learn: 0.0410762	total: 174ms	remaining: 76.3ms
57:	learn: 0.0404633	total: 175ms	remaining: 72.5ms
58:	learn: 0.0402294	total: 176ms	remaining: 68.8ms
59:	learn: 0.0396016	total: 178ms	remaining: 65.3ms
60:	learn: 0.0394217	total: 179ms	remaining: 61.8ms
61:	learn: 0.0390678	total: 188ms	remaining: 60.7ms
62:	learn: 0.0382918	total: 189ms	remaining: 57.1ms
63:	learn: 0.0379907	total: 191ms	remaining: 53.6ms
64:	learn: 0.0375957	total: 192ms	remaining: 50.2ms
65:	learn: 0.0372931	total: 193ms	remaining: 46.8ms
66:	learn: 0.0364890	total: 194ms	remaining: 43.5ms
67:	learn: 0.0357280	total: 195ms	remaining: 40.2ms
68:	learn: 0.0353469	total: 196ms	remaining: 37ms
69:	learn: 0.0350951	total: 198ms	remaining: 33.9ms
70:	learn: 0.0342928	total: 199ms	remaining: 30.8ms
71:	learn: 0.0340777	total: 200ms	remaining: 27.7ms
72:	learn: 0.0337053	total: 201ms	remaining: 24.8ms
73:	learn: 0.0335859	total: 202ms	remaining: 21.9ms
74:	learn: 0.0332207	total: 203ms	remaining: 19ms
75:	learn: 0.0329368	total: 204ms	remaining: 16.1ms
76:	learn: 0.0325879	total: 206ms	remaining: 13.4ms
77:	learn: 0.0322086	total: 207ms	remaining: 10.6ms
78:	learn: 0.0320028	total: 208ms	remaining: 7.89ms
79:	learn: 0.0318036	total: 217ms	remaining: 5.41ms
80:	learn: 0.0315461	total: 218ms	remaining: 2.69ms
81:	learn: 0.0313883	total: 219ms	remaining: 0us
3th fold train：0.996, valid：0.966
0:	learn: 0.5525923	total: 12.8ms	remaining: 1.04s
1:	learn: 0.4270558	total: 14.1ms	remaining: 564ms
2:	learn: 0.3626173	total: 15.3ms	remaining: 404ms
3:	learn: 0.2968898	total: 16.5ms	remaining: 322ms
4:	learn: 0.2453660	total: 28.4ms	remaining: 437ms
5:	learn: 0.2082335	total: 30ms	remaining: 380ms
6:	learn: 0.1843901	total: 31.3ms	remaining: 335ms
7:	learn: 0.1618894	total: 32.6ms	remaining: 302ms
8:	learn: 0.1458062	total: 34ms	remaining: 275ms
9:	learn: 0.1348044	total: 35.2ms	remaining: 253ms
10:	learn: 0.1252075	total: 36.3ms	remaining: 234ms
11:	learn: 0.1173360	total: 37.5ms	remaining: 219ms
12:	learn: 0.1097916	total: 42.7ms	remaining: 227ms
13:	learn: 0.1038382	total: 44.2ms	remaining: 215ms
14:	learn: 0.0989491	total: 45.4ms	remaining: 203ms
15:	learn: 0.0944633	total: 46.6ms	remaining: 192ms
16:	learn: 0.0934865	total: 47.8ms	remaining: 183ms
17:	learn: 0.0897034	total: 49.1ms	remaining: 175ms
18:	learn: 0.0867428	total: 50.2ms	remaining: 167ms
19:	learn: 0.0845151	total: 51.5ms	remaining: 160ms
20:	learn: 0.0826563	total: 52.7ms	remaining: 153ms
21:	learn: 0.0804104	total: 53.9ms	remaining: 147ms
22:	learn: 0.0791309	total: 54.8ms	remaining: 140ms
23:	learn: 0.0784444	total: 55.9ms	remaining: 135ms
24:	learn: 0.0770948	total: 72.4ms	remaining: 165ms
25:	learn: 0.0746885	total: 73.7ms	remaining: 159ms
26:	learn: 0.0725393	total: 75.2ms	remaining: 153ms
27:	learn: 0.0702532	total: 76.4ms	remaining: 147ms
28:	learn: 0.0694350	total: 77.7ms	remaining: 142ms
29:	learn: 0.0684013	total: 78.8ms	remaining: 137ms
30:	learn: 0.0669189	total: 79.9ms	remaining: 131ms
31:	learn: 0.0657474	total: 81.1ms	remaining: 127ms
32:	learn: 0.0652292	total: 82.2ms	remaining: 122ms
33:	learn: 0.0642988	total: 83.6ms	remaining: 118ms
34:	learn: 0.0640067	total: 84.7ms	remaining: 114ms
35:	learn: 0.0632064	total: 86ms	remaining: 110ms
36:	learn: 0.0620448	total: 87.4ms	remaining: 106ms
37:	learn: 0.0618077	total: 89ms	remaining: 103ms
38:	learn: 0.0605712	total: 90.3ms	remaining: 99.6ms
39:	learn: 0.0599190	total: 91.5ms	remaining: 96ms
40:	learn: 0.0593717	total: 92.2ms	remaining: 92.2ms
41:	learn: 0.0584786	total: 93.3ms	remaining: 88.8ms
42:	learn: 0.0575982	total: 94.4ms	remaining: 85.7ms
43:	learn: 0.0570435	total: 95.6ms	remaining: 82.5ms
44:	learn: 0.0553929	total: 96.8ms	remaining: 79.6ms
45:	learn: 0.0545242	total: 97.9ms	remaining: 76.7ms
46:	learn: 0.0535558	total: 99ms	remaining: 73.8ms
47:	learn: 0.0531686	total: 100ms	remaining: 71.1ms
48:	learn: 0.0517443	total: 101ms	remaining: 68.4ms
49:	learn: 0.0513106	total: 103ms	remaining: 65.7ms
50:	learn: 0.0506860	total: 104ms	remaining: 63.3ms
51:	learn: 0.0500297	total: 105ms	remaining: 60.7ms
52:	learn: 0.0491375	total: 106ms	remaining: 58.2ms
53:	learn: 0.0485288	total: 108ms	remaining: 55.8ms
54:	learn: 0.0480947	total: 109ms	remaining: 53.4ms
55:	learn: 0.0475301	total: 110ms	remaining: 51ms
56:	learn: 0.0471788	total: 111ms	remaining: 48.7ms
57:	learn: 0.0462612	total: 112ms	remaining: 46.4ms
58:	learn: 0.0452195	total: 113ms	remaining: 44.2ms
59:	learn: 0.0447951	total: 115ms	remaining: 42.1ms
60:	learn: 0.0442620	total: 116ms	remaining: 39.9ms
61:	learn: 0.0439816	total: 117ms	remaining: 37.7ms
62:	learn: 0.0434636	total: 118ms	remaining: 35.6ms
63:	learn: 0.0429099	total: 119ms	remaining: 33.5ms
64:	learn: 0.0424638	total: 130ms	remaining: 34ms
65:	learn: 0.0418101	total: 131ms	remaining: 31.8ms
66:	learn: 0.0416010	total: 132ms	remaining: 29.6ms
67:	learn: 0.0413152	total: 133ms	remaining: 27.4ms
68:	learn: 0.0408413	total: 134ms	remaining: 25.3ms
69:	learn: 0.0405519	total: 136ms	remaining: 23.3ms
70:	learn: 0.0400763	total: 137ms	remaining: 21.2ms
71:	learn: 0.0397642	total: 138ms	remaining: 19.2ms
72:	learn: 0.0393669	total: 139ms	remaining: 17.2ms
73:	learn: 0.0381302	total: 141ms	remaining: 15.2ms
74:	learn: 0.0372162	total: 142ms	remaining: 13.2ms
75:	learn: 0.0363539	total: 143ms	remaining: 11.3ms
76:	learn: 0.0361765	total: 144ms	remaining: 9.37ms
77:	learn: 0.0357413	total: 146ms	remaining: 7.47ms
78:	learn: 0.0353001	total: 147ms	remaining: 5.58ms
79:	learn: 0.0346085	total: 148ms	remaining: 3.7ms
80:	learn: 0.0344089	total: 149ms	remaining: 1.84ms
81:	learn: 0.0341865	total: 151ms	remaining: 0us
4th fold train：0.997, valid：0.989
avg train score= 0.997, avg valid score=0.969

In [329]:
model=GradientBoostingClassifier()
params={"learning_rate":0.11,"n_estimators":222}
train_pred_gbt,test_pred_gbt,valid_acc_gbt=train_model(model,params,X_train,y_train,X_test)

0th fold train：1.000, valid：0.961
1th fold train：1.000, valid：0.949
2th fold train：1.000, valid：0.972
3th fold train：1.000, valid：0.966
4th fold train：1.000, valid：0.978
avg train score= 1.000, avg valid score=0.965

In [330]:
model=RandomForestClassifier()
params={"n_estimators":150,"max_depth":4,"min_samples_split":5,"min_samples_leaf":3}
train_pred_rf,test_pred_rf,valid_acc_rf=train_model(model,params,X_train,y_train,X_test)

0th fold train：0.971, valid：0.955
1th fold train：0.971, valid：0.966
2th fold train：0.971, valid：0.978
3th fold train：0.973, valid：0.961
4th fold train：0.965, valid：0.978
avg train score= 0.970, avg valid score=0.967

In [331]:
model=LogisticRegression()
params={}
train_pred_lr,test_pred_lr,valid_acc_lr=train_model(model,params,X_train,y_train,X_test)

0th fold train：0.968, valid：0.961
1th fold train：0.975, valid：0.955
2th fold train：0.969, valid：0.972
3th fold train：0.972, valid：0.966
4th fold train：0.971, valid：0.983
avg train score= 0.971, avg valid score=0.967

In [332]:
model=LinearSVC()
params={"C":0.12,"tol":1e-4,"max_iter":1000}
train_pred_svc,test_pred_svc,valid_acc_svc=train_model(model,params,X_train,y_train,X_test)

0th fold train：0.969, valid：0.961
1th fold train：0.975, valid：0.955
2th fold train：0.969, valid：0.972
3th fold train：0.972, valid：0.966
4th fold train：0.966, valid：0.978
avg train score= 0.970, avg valid score=0.966

In [333]:
model=KNeighborsClassifier()
params={"n_neighbors":15,"p":1}
train_pred_knn,test_pred_knn,valid_acc_knn=train_model(model,params,X_train,y_train,X_test)

0th fold train：0.920, valid：0.877
1th fold train：0.913, valid：0.882
2th fold train：0.910, valid：0.938
3th fold train：0.909, valid：0.910
4th fold train：0.927, valid：0.904
avg train score= 0.916, avg valid score=0.902

In [334]:
model=Perceptron()
params={"penalty":'l2',"alpha":1e-5,"max_iter":19,"validation_fraction":0.1,"n_iter_no_change":10,"warm_start":True}
train_pred_pt,test_pred_pt,valid_acc_pt=train_model(model,params,X_train,y_train,X_test)

0th fold train：0.920, valid：0.916
1th fold train：0.942, valid：0.916
2th fold train：0.948, valid：0.961
3th fold train：0.864, valid：0.854
4th fold train：0.934, valid：0.927
avg train score= 0.922, avg valid score=0.915

In [336]:
model=SGDClassifier()
params={"loss":'log',"alpha":1e-4,"max_iter":20,"validation_fraction":0.1,"n_iter_no_change":10,"warm_start":True}
train_pred_sgd,test_pred_sgd,valid_acc_sgd=train_model(model,params,X_train,y_train,X_test)

0th fold train：0.914, valid：0.894
1th fold train：0.924, valid：0.944
2th fold train：0.947, valid：0.961
3th fold train：0.955, valid：0.944
4th fold train：0.947, valid：0.938
avg train score= 0.937, avg valid score=0.936

In [337]:
model=GaussianProcessClassifier()
params={}
train_pred_gp,test_pred_gp,valid_acc_gp=train_model(model,params,X_train,y_train,X_test)

0th fold train：1.000, valid：0.816
1th fold train：1.000, valid：0.860
2th fold train：1.000, valid：0.860
3th fold train：1.000, valid：0.837
4th fold train：1.000, valid：0.820
avg train score= 1.000, avg valid score=0.838

In [338]:
model=BernoulliNB()
params={"alpha":20}
train_pred_by,test_pred_by,valid_acc_by=train_model(model,params,X_train,y_train,X_test)

0th fold train：0.930, valid：0.933
1th fold train：0.930, valid：0.933
2th fold train：0.927, valid：0.944
3th fold train：0.935, valid：0.910
4th fold train：0.930, valid：0.933
avg train score= 0.930, avg valid score=0.930

In [346]:
result1=(test_pred_lgb+test_pred_xgb+test_pred_cat+test_pred_gbt+test_pred_rf+test_pred_lr+test_pred_svc\
         +test_pred_knn+test_pred_pt+test_pred_sgd+test_pred_gp+test_pred_by)/12

result1_round=np.round(result1)
data.loc[(data['is_train']==0)&(data['Group_id']=='noGroup'),'Survived']=result1_round
data['Survived']=data['Survived'].astype('int64')

data.loc[data['is_train']==0,["PassengerId","Survived"]].to_csv('result_20220621_avg_nonWCG.txt',index=False,header=True)

In [343]:
temp.iloc[[ 21, 214, 339]]

     PassengerId  Survived  Survived3
21           913       1.0          0
214         1106       0.0          1
339         1231       1.0          0

In [344]:
data.loc[data['PassengerId'].isin([ 913,1106, 1231])]

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,is_train,Group_id,WC_count,...,Age_range3,boy1,boy2,boy3,female1,female2,female3,male1,male2,male3
912,913,1.0,3,9.000000,0,1,3.1708,0,noGroup,1.0,...,0,0,0,1,0,0,0,0,0,0
1105,1106,0.0,3,38.000000,4,2,7.7750,0,noGroup,1.0,...,0,0,0,0,0,0,1,0,0,0
1230,1231,1.0,3,45.825002,0,0,7.2292,0,noGroup,1.0,...,1,0,0,1,0,0,0,0,0,0

In [55]:
nonWCG_pred=model.predict(X_test)
data.loc[(data['is_train']==0)&(data['Sex']=='male')&(data['Group_id']=='noGroup'),'Survived']=nonWCG_pred

In [60]:
data['Survived']=data['Survived'].astype('int64')
data.loc[data['is_train']==0,["PassengerId","Survived"]].to_csv('result_20220622_WCGLgb.txt',index=False,header=True)
# pd.DataFrame(data=np.c_[list(range(892,1310)),data.loc[data['is_train']==0,"Survived"]],columns=["PassengerId","Survived"],dtype=np.int64).to_csv('result_20220621_WCGAndModel.txt',index=False,header=True)# 得分：0.73444

In [61]:
sex3=pd.read_csv("./result_20220622_WCGLgb.txt")
sex3WCG=pd.read_csv("./result_20220621_avg_nonWCG.txt")
temp=pd.concat([sex3WCG,sex3['Survived'].rename('Survived3')],axis=1)
np.where(temp['Survived']!=temp['Survived3'])# 4个pclass为1，2的boy预测为1

(array([ 21, 214, 339], dtype=int64),)

In [71]:
data.loc[data['PassengerId'].isin([ 913,1106, 1231])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_train,Title,Surname,Ticket_id,Group_id,WC_count,WCSurvived
912,913,0.0,3,"Olsen, Master. Artur Karl",boy,9.0,0,1,C 17368,3.1708,NaN,S,0,Master,Olsen,3-C 1736-3.1708-S,noGroup,1.0,NaN
1105,1106,1.0,3,"Andersson, Miss. Ida Augusta Margareta",female,38.0,4,2,347091,7.7750,NaN,S,0,Miss,Andersson,3-34709-7.775-S,noGroup,1.0,NaN
1230,1231,0.0,3,"Betros, Master. Seman",boy,NaN,0,0,2622,7.2292,NaN,C,0,Master,Betros,3-262-7.2292-C,noGroup,1.0,NaN

In [62]:
temp.iloc[[ 21, 214, 339]]

     PassengerId  Survived  Survived3
21           913         1          0
214         1106         0          1
339         1231         1          0

In [63]:
data.loc[data['PassengerId'].isin([ 913,1106, 1231])]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,is_train,Group_id,...,Age_range3,boy1,boy2,boy3,female1,female2,female3,male1,male2,male3
912,913,0,3,boy,9.0,0,1,3.1708,0,noGroup,...,0,0,0,1,0,0,0,0,0,0
1105,1106,1,3,female,38.0,4,2,7.7750,0,noGroup,...,0,0,0,0,0,0,1,0,0,0
1230,1231,0,3,boy,NaN,0,0,7.2292,0,noGroup,...,1,0,0,1,0,0,0,0,0,0

In [326]:
data.loc[data['PassengerId'].isin([ 913,1106, 1231])]

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,is_train,Group_id,WC_count,...,Age_range3,boy1,boy2,boy3,female1,female2,female3,male1,male2,male3
912,913,1,3,9.000000,0,1,3.1708,0,noGroup,1.0,...,0,0,0,1,0,0,0,0,0,0
1016,1017,0,3,17.000000,0,1,16.1000,0,noGroup,1.0,...,0,0,0,0,0,0,1,0,0,0
1230,1231,1,3,45.825002,0,0,7.2292,0,noGroup,1.0,...,1,0,0,1,0,0,0,0,0,0
1267,1268,0,3,22.000000,2,0,8.6625,0,noGroup,1.0,...,0,0,0,0,0,0,1,0,0,0

In [298]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 46 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     1309 non-null   int64
 2   Pclass       1309 non-null   float64
 3   Age          1046 non-null   float64
 4   SibSp        1309 non-null   int64
 5   Parch        1309 non-null   int64
 6   Fare         1309 non-null   float64
 7   is_train     1309 non-null   int64
 8   Group_id     1309 non-null   object
 9   WC_count     527 non-null    float64
 10  WCSurvived   210 non-null    float64
 11  Cabins       1309 non-null   int64
 12  familyNum    1309 non-null   int64
 13  has_family   1309 non-null   int64
 14  CabinA       1309 non-null   Sparse[uint8, 0]
 15  CabinB       1309 non-null   Sparse[uint8, 0]
 16  CabinC       1309 non-null   Sparse[uint8, 0]
 17  CabinD       1309 non-null   Sparse[uint8, 0]
 18  CabinE       1309 non-null   Sparse[uint8, 0]
 19  CabinF       1309 non-null   Sparse[uint8, 0]
 20  CabinG       1309 non-null   Sparse[uint8, 0]
 21  CabinT       1309 non-null   Sparse[uint8, 0]
 22  CabinZ       1309 non-null   Sparse[uint8, 0]
 23  EmbarkedC    1309 non-null   Sparse[uint8, 0]
 24  EmbarkedQ    1309 non-null   Sparse[uint8, 0]
 25  EmbarkedS    1309 non-null   Sparse[uint8, 0]
 26  TitleMaster  1309 non-null   Sparse[uint8, 0]
 27  TitleMiss    1309 non-null   Sparse[uint8, 0]
 28  TitleMr      1309 non-null   Sparse[uint8, 0]
 29  TitleMrs     1309 non-null   Sparse[uint8, 0]
 30  TitleRare    1309 non-null   Sparse[uint8, 0]
 31  Sexboy       1309 non-null   Sparse[uint8, 0]
 32  Sexfemale    1309 non-null   Sparse[uint8, 0]
 33  Sexmale      1309 non-null   Sparse[uint8, 0]
 34  Age_range1   1309 non-null   Sparse[uint8, 0]
 35  Age_range2   1309 non-null   Sparse[uint8, 0]
 36  Age_range3   1309 non-null   Sparse[uint8, 0]
 37  boy1         1309 non-null   Sparse[uint8, 0]
 38  boy2         1309 non-null   Sparse[uint8, 0]
 39  boy3         1309 non-null   Sparse[uint8, 0]
 40  female1      1309 non-null   Sparse[uint8, 0]
 41  female2      1309 non-null   Sparse[uint8, 0]
 42  female3      1309 non-null   Sparse[uint8, 0]
 43  male1        1309 non-null   Sparse[uint8, 0]
 44  male2        1309 non-null   Sparse[uint8, 0]
 45  male3        1309 non-null   Sparse[uint8, 0]
dtypes: Sparse[uint8, 0](32), float64(5), int64(8), object(1)
memory usage: 181.6+ KB